In [7]:
import pandas as pd




file = pd.read_csv('Cust_Purch_FakeData.csv')



file.info()

print("Minimum: ", file['price(CAD)'].min())


print()
print("Maximum : ", file['price(CAD)'].max())
print()
print("Mean: ", file['price(CAD)'].mean())

2
file['weekday'].value_counts().head(1)
3
file[file['price(CAD)'] == 0.0]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 20 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   prefix      30000 non-null  object
 1   first       30000 non-null  object
 2   last        30000 non-null  object
 3   email       30000 non-null  object
 4   gender      30000 non-null  object
 5   age         30000 non-null  int64
 6   company     30000 non-null  object
 7   profession  30000 non-null  object
 8   phone       30000 non-null  object
 9   postal      30000 non-null  object
 10  province    30000 non-null  object
 11  cc_no       30000 non-null  int64
 12  cc_exp      30000 non-null  object
 13  cc_type     30000 non-null  object
 14  price(CAD)  30000 non-null  float64
 15  fav_color   30000 non-null  object
 16  ip          30000 non-null  object
 17  weekday     30000 non-null  object
 18  ampm        30000 non-null  object
 19  date        30000 non-null  object
dtypes: float64(1), int64(2), object(17)
memory usage: 4.6+ MB
Minimum:  0.0

Maximum :  100.0

Mean:  49.990775000000184

,prefix,first,last,email,gender,age,company,profession,phone,postal,province,cc_no,cc_exp,cc_type,price(CAD),fav_color,ip,weekday,ampm,date
5320,Dr.,Bruce,Bryan,ru@pubuspuh.cl,Male,59,Wal-Mart Stores Inc,Engineer Technician,(709) 446-8317,H6H 3Y0,NU,201000000000000,04/2024,Bankcard,0.0,White,82.70.62.64,Wednesday,am,12/11/1900
10597,Mrs.,Flora,Clark,wad@me.com,Female,27,MetLife Inc.,Cruise Director,(775) 373-6590,B2U 8K6,NB,30100000000000,05/2020,Diners Club Carte Blanche,0.0,Red,231.156.15.63,Thursday,pm,08/22/1904